spring: 
  application:
    name:
      SteamBack
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      schema: DEV
  sql:
    init:
      mode: always
